<div class='home text-center container-fluid'>
  <h1>HELLO WELCOME BACK</h1>
  <p>A site where entrepreneur can find his/her tech co-founder</p>
</div>

<div class='container'>
  <div class='row member'>
    
    <% if user_signed_in? %>
      <div class='col-md-6'>
        <div class='well'>
          <% if current_user.profile.present? %>
            <h2 class='text-center'>Your Profile</h2>
            <%= link_to "Edit Your Profile", edit_user_profile_path(current_user), class: 'btn btn-success btn-block' %>
            <%= link_to "View Your Profile", user_path(current_user), class: 'btn btn-info btn-block' %>
          <% else %>
            <h2 class='text-center'>Create your profile</h2>
            <%= link_to "Create your profile!", new_user_profile_path(current_user), class: 'btn btn-success btn-block' %>
          <% end %>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='well'>
          <h2 class='text-center'>Meet Community</h2>
          <%= link_to "Visit Community", users_path, class: 'btn btn-success btn-block' %>
        </div>
      </div>
      
    <% else %>
      <div class='col-md-6'>
        <div class='well'>
          <h2 class='text-center'>Basic Membership</h2>
          <br><br>
          <h4>Sign up for free and get instant access to elite community</h4>
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-info btn-block' %>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='well'>
          <h2 class='text-center'>Pro Membership</h2>
          <br>
          <h4>Sign up Pro account for 10$/month and get instant access to contact of elite member</h4>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-block' %>
          
        </div>
      </div>
    <% end %>
  </div>
  
  
  <!-- current_user = (user_id: current_user.id) -->
</div>